.login-page{
  margin-top: 100px;
  padding-bottom: 50%;
}

.lds-double-ring{
  margin: auto;
  top: 200px;
}

.login-page .lds-css.ng-scope{
  height: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 20px;
  background-color: aliceblue;
}

.login-page .button{
  margin: 5px auto;
  width: 75%;
  min-width: max-content;
}