.login-page{
  height: 400px;
  width: 400px;
  margin: 100px auto;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 20px;
  background-color: aliceblue;
}

.form-signin{
  margin: 50px auto;
}

.login-page input{
  margin: 5px 0;
}

.login-page label{
  cursor: pointer;
  width: 300px;
}

.login-page :any-link{
  float: none;
  text-decoration: none;
  margin: auto;
  height: 48px;
}