.login-page{
  margin: 0;
  padding-top: 200px;
}

.lds-double-ring{
  margin: auto;
  top: 200px;
}

.login-page .lds-css.ng-scope{
  height: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 20px;
  background-color: aliceblue;
}