.answer {
  position: relative;
}
.answer .list-group-item.list-group-item-action{
  position: relative;
  margin-bottom: 5px;
}

.element-body {
  float: none;
  position: relative;
}

.element-body .btn-answer{
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

.element-body .element-name{
  position: relative;
  margin: 0;
  text-align: left;
  width: 80%;
  min-height: 40px;
}

.element-body .btn-answer .status-button{
  float: right;
  margin-right: 5px;
}

.element-body .btn-answer .TrashButton{
  float: right;
  margin-right: 5px;
}

.element-body .btn-answer .TrashButton button{
  background-color: white;
}

.element-body .btn-answer .TrashButton button:hover{
  background-color: red;
}

.element-name .checkbox-label{
  float: left;
  margin-right: 5px;
}