.custom-input {
  margin-bottom: 20px;
}

input.invalid{
  border: 2px solid red;
  background-color: tomato;
}

label{
  position: relative;
}

span{
  font-size: 10px;
  position: absolute;
  color: red;
}