.elements .list-group-item.list-group-item-action{
  height: 60px;
  border-radius: 10px;
  margin-bottom: 1px;
}

.element-body{
  display: block;
  height: 10px;
}

.element-body .element-name{
  float: left;
  padding: 5px;
}

.element-body .element-name.wrong{
  float: left;
  padding: 5px;
  color: red;
}

.element-body .element-name.current{
  float: left;
  padding: 5px;
  color: green;
}

.element-body .btn.btn-outline-danger.btn-sm.float-right{
  margin: 3px 10px 0 0;
}

.element-body .custom-checkbox{
  float: right;
  margin: 10px 10px 0 0;
}