.create-test-page{
  margin-top: 100px;
  padding-bottom: 50%
}
.radio-input{
  float: left;
  margin-left: 5px;
}

.create-test-page .test-info{
  float: left;
  width: 900px;
  margin-left: 150px;
}
