.add-question .test-system-lists{
  float: unset;
  margin: 10px 60px;
  width: unset;
}

.add-question .custom-input{
  width: 90%;
}

.add-question .button button{
  width: 150px;
}

.add-question .btn-group{
  margin-bottom: 30px;
}