.modal-delete{
  height: 0;
  width: 0;
  float: left;
}

.modal-delete .bd-example.bd-example-modal .modal{
  display: block;
}

.modal-dialog {
  margin: 10px 0 0 10px;
}

.close span{
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

.close:hover span{
  color: black;
  font-weight: 900;
}

.close:focus{
  outline: none;
}

.modal-footer .button{
  float: right;
  width: min-content;
  margin: 0 10px 0 0;
}
