.registartion{
  margin: auto;
  padding-top: 125px;
  height: 900px;
  width: 1600px;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top{
  position: fixed;
  top: 0px;
  height: 60px;
}

.bd-example.body{
  margin: auto;
  width: 900px;
  text-align: center;
  padding: 10px;
  border: solid skyblue;
  border-radius: 20%;
  background-color: aliceblue;
}

.form-group{
  text-align: left;
  padding: 0 100px 0 100px;
  margin-bottom: 5px;
}
.form-group label{
  width: 700px;
  padding: 15px 15px 25px 15px;
}

.registartion h2{
  color: whitesmoke;
  margin: 10px 30px 0px 0px;
  padding: 0;
}