.my-app{
  background-color: slategray;
  position: relative;
  background-repeat: repeat-x;
  margin: 0;
  /* padding-top: 1%; */
  padding-bottom: 10%;
  /* max-width: 1000px; */
  overflow: scroll;
}