.my-app{
  background-color: lightslategrey;
  position: relative;
  background-repeat: repeat-x;
  margin: 0;
  padding-bottom: 10%;
  overflow: scroll;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top{
  position: fixed;
  top: 0px;
  height: 60px;
  color: whitesmoke;
}