.question-body .checkbox-input{
  float: left;
  margin-right: 5px;
}

.question-body .question-btn{
  position: absolute;
  right: 3px;
  width: 20%;
}

.question-btn .TrashButton{
  float: right;
}

.question-body .question-name{
  margin-top: 3px;
  width: 80%;
  text-align: left;
  min-height: 40px;
}