.answer {
  position: relative;
}
.answer .list-group-item.list-group-item-action{
  position: relative;
  margin-bottom: 5px;
}

.element-body {
  float: none;
  position: relative;
}

.answer .checkbox-label{
  float: left;
  margin-right: 4px;
}